*{
    font-family: sans-serif;
}
.mainheading,nav{
    text-align: center;
}
nav a{
    margin: 0 5px;
    text-decoration: none;
}
.heading{
    color: black;
    text-align: left;
    font-weight: 700;
    padding: 20px;
}
p{
    font-size: medium;
    line-height: 21px;
    color: darkgray;
}